@import "bower_components/mui/src/sass/mui/_colors.scss";

body {
  font-family: Arial, sans-serif;
  background-color: hsla(31,15%,50%,.1);
  color: #212121;
}

.container {
  z-index:-1;
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

div#drawer {
  height: 100%;
  width: 70%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 30;
  border: 1px solid silver;
  background-color: #fafafa;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  will-change: transform;
}

.drawer-closed {
  transform: translateX(-101%);
}

#locations-container {
  display: flex;
  flex-direction: column;
}

#account-container {
  display: none;
  margin: 30px 6%;
  height: 300px;
  width: 88%;
}

#login-container {
  width: 100%;
  display: flex;
}

#user-container {
  width: 100%;
  display: none;
}

#login-button {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 60px;
  width: 100%;
}

#login-button p {
  margin: 0;
  font-size: 16px;
}

#locations-list-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  margin-top: 70px;
}

#locations-header {
  position: absolute;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #dadada;
  justify-content: center;
  display: flex;
  align-items: center;
}

#locations-filter {

}

.location-list-item-container {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0 0 0;
}

.list-container {
  width: 100%;
}

.location-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  cursor: pointer;
}

.list-item-icon {
  height: 42px;
  padding: 7px;
  box-shadow: 0 2px 10px 3px #d3d3d3;
  box-sizing: content-box;
}

.location-item-options {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

button.location-item-options-edit-button {
  /*border: 1px solid #dadada;*/
  width: 42px;
  margin-bottom: 5px;
  padding: 0;
}

button.location-item-options-delete-button {
  width: 42px;
  padding: 0;
  margin-left: 0 !important;
}

#leaflet-map-container {
  position: absolute;
  width:100%;
  height:100%;
  z-index:0;
}

.list-item-time {
  margin: 10px;
  height: 90%;
  padding: 10px;
  border: 1px solid #dadada;
}

div#bottom-menu {
  /*background-color: rebeccapurple;*/
  font-size: 40px;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -35px;
}

#view-location-drawer.btm-nav-btn, #view-account-drawer.btm-nav-btn {
  background-color: rebeccapurple;
  font-size: 20px;
}

.btn-central {
  border: 2px solid white;
}

#view-location-drawer.btn-side, #view-account-drawer.btn-side {
  position: absolute;
  z-index:1;
  border-top: 2px solid white;
  width:36%;
  height:80px;
}

button#view-location-drawer {
  left:0;
}

button#view-account-drawer {
  right:0;
}

button#add-location {
  border: 2px solid white;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rebeccapurple;
  font-size: 40px;
  outline: none;
  color: #F0F0F0;
  box-shadow: 0px 3px 3px #d3d3d3;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  z-index:3;
}

button#add-location:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#location-modal {
  position: fixed;
  width: 90%;
  height: 90%;
  /*border-radius: 15px;*/
  /*border: 1px solid silver;*/
  left: 5%;
  top: 5%;
  transition: transform 0.3s cubic-bezier(0.550, 0.055, 0.675, 0.190);
  will-change: transform;
  /*display: flex;*/
  background-color: #fafafa;
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*border: 1px solid rebeccapurple;*/
  z-index:20;
}


.modal-closed {
  transform: translateY(-130%);
}



div#modal-location-desc {
  overflow-y: auto;
  margin: 12px auto;
  height: 33%;
  width: 90%;
  min-height: 33%;
}

.placeholder-text {
  color: rgba(33,33,33,0.4);
}

input#modal-title {
  width: 90%;
}

button#save-location {
  /*background: linear-gradient(45deg,)*/
  /*width: 30%;*/
  /*height: 10%;*/
  /*margin-bottom: 20px;*/
  /*border-radius: 7px;*/
  /*background-color: #4cae4c;
  border: 1px solid #4cae4c;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size:27px;
  color: white;
  height:50px;
  margin-top:auto;*/
  /*border: 1px solid rebeccapurple;*/
}

button#save-location:disabled {
  background-color: grey;
}


div#modal-header {
  height: 60px;
  background-color: rebeccapurple;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  box-shadow: 0 10px 10px rgba(0,0,0,0.22); 
  align-items: center;
}

.modal-header-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-header-title {
  margin: 0 33% 0 auto;
  font-size: 1.3em;
  font-weight: 800;
}

#modal-header-quit {
  margin: 0 10px;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16); */
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
}

.button-click-shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
}

#modal-header-quit:hover {
  /*box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);*/
}

#modal-header-save {
  display: none;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 400;
}

#modal-content {
  height:90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#modal-location-name {
  margin: 10px 20px;
  color: #212121;
  margin-top: 15px;
  border: none;
  font-size: 20px;
  background-color: #fafafa;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

#modal-location-name:invalid {
  border: 1px solid red;
}

#icon-selector {
  height: 37%;
  width: 90%;
  border: 1px solid #d3d3d3;
  margin: 0px auto;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  align-content: flex-start;
}

#icon-selector .icon-button {
  /*background: url(https://unpkg.com/leaflet@1.0.1/dist/images/marker-icon-2x.png);*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 6px;
  height: 48px;
  width: 30px;
  border: 1px solid #d3d3d3;
  position: relative;
  min-width: 30px;
}

.selected-icon::after {
  content: '';
  width: 40px;
  height: 20px;
  position: absolute;
  top: 8px;
  left: 7px;
  border: 10px solid rgba(80, 172, 107, 0.91);
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 100;
  transform: rotate(-45deg);
  z-index: 100;
  box-shadow: -1px 1px 0px 1px #548352;
}

@media (max-width: 420px){
  #view-location-drawer.btn-side, #view-account-drawer.btn-side {
    width: 36%;
  }
}

@media (min-width: 421px) and (max-width: 620px){
  #view-location-drawer .btn-side, #view-account-drawer.btn-side {
    width: 40%;
  }  
}

@media (min-width: 621px) and (max-width: 920px){
  #view-location-drawer.btn-side, #view-account-drawer.btn-side {
    width: 43%;
  }
}

@media (min-width: 920px){
  #view-location-drawer.btn-side, #view-account-drawer.btn-side {
    width: 47%;
  }
}

