@import "bower_components/mui/src/sass/mui/_colors.scss";

body {
  font-family: Arial, sans-serif;
  background-color: hsla(31,15%,50%,.1);
  color: #212121;
}

.container {
  z-index:-1;
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

div#drawer {
  height: 100%;
  width: 70%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 70;
  border: 1px solid silver;
  background-color: #fafafa;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  will-change: transform;
  overflow-y:hidden;
}

.drawer-closed {
  transform: translateX(-101%);
}

#locations-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#account-container {
  display: none;
  margin: 30px 6%;
  height: 300px;
  width: 88%;
}

#login-container {
  width: 100%;
  display: flex;
}

#user-container {
  width: 100%;
  display: none;
}

#login-button {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 60px;
  width: 100%;
}

#login-button p {
  margin: 0;
  font-size: 16px;
}

#locations-list-container {
  width: 100%;
  height: calc(100vh - 188px);
  overflow-y: scroll;
  margin-top: 70px;
  padding-bottom:75px;
}

#locations-header {
  position: absolute;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #dadada;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive{
  transition: 3s transform ease-in-out;
}

img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive.just-added{
  transform
}*/

#mode-icon-container {
  position: fixed;
  z-index: 15;
  right: 6%;
  top: 1%;
  /*border-radius: 3px;*/
  padding: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  /*opacity: 0.9;*/
  /*background: linear-gradient(to bottom, #ffffff 0%, #f4f5f6 50%, #ededed 51%, #dfdfe1 100%);*/
}

#accessibility-svg {
  display: none;
}

#locations-filter {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

#search-location-bar {
  position: fixed;
  z-index:15;
  top: 3%;
  left: 20%;
  width: 50%;
  display: none;
}

#place-search-input {
  width: 100%;
}
#sort-locations-dropdown {
  width: 50%;
}

@media (min-width: 600px){
  #locations-filter {
    flex-direction: row;
  }
  #search-divider {
    display: none;
  }
}

@media (max-width: 599px){
  #locations-filter {
    flex-direction: column;
  }
  #locations-header {
    height: 185px;
  }
  #locations-list-container {
    margin-top: 187px;
  }
  #sort-locations-dropdown {
    width: 80%;
  }
  #tag-search {
    width: 80%;
    margin-top:10px;
  }
  #tag-search-input {
    margin-top: 10px; 
  }
  #search-divider {
    display: block;
    width: 90%;
  }
}

.location-list-item-container {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0 0 0;
}

.list-container {
  width: 100%;
}

div.location-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 10px;
  align-items: center;
  /*border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;*/
  cursor: pointer;
  background-color: #fafafa;
}


.location-list-item:hover {
  /*background-color: #d3d3d3;*/
  /*border-color: #125793;*/
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.list-item-icon {
  height: 28px;
  padding: 7px;
  /*box-shadow: 0 2px 10px 3px #d3d3d3;*/
  box-sizing: content-box;
}

.location-item-options {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.location-item-info {
  display: flex;
  flex-direction: column;
}

.list-item-top-row {
  align-items: center;
  display: flex;
}

.list-item-bottom-row {
  display: flex;
}

.tags-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.tag-item {
  margin: 4px;
  padding: 2px 4px;
  border: 1px solid #D3D3FB;
  border-radius: 3px;
  color: rgba(0,0,0,0.77);
  font-size: 12px;
  height: 25px;
  background-color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
}

button.location-item-options-edit-button {
  /*border: 1px solid #dadada;*/
  width: 32px;
  height: 32px;
  margin-bottom: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center
}

button.location-item-options-delete-button {
  width: 32px;
  height: 32px;
  padding: 0;
  margin-left: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center
}

#leaflet-map-container {
  position: absolute;
  width:100%;
  height:100%;
  z-index:0;
}

.list-item-time {
  margin-left: 5px;
  font-size:13px;
}

.list-item-name {
  padding: 0 5px;
}

.list-item-name p {
  font-weight: 800;
  font-size:18px;
}

div#bottom-menu {
  /*background-color: rebeccapurple;*/
  font-size: 40px;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -35px;
}

#view-location-drawer.btm-nav-btn, #view-account-drawer.btm-nav-btn {
  background-color: rebeccapurple;
  font-size: 20px;
}

.btn-central {
  border: 2px solid white;
}

#view-location-drawer.btn-side, #view-account-drawer.btn-side {
  position: absolute;
  z-index:1;
  border-top: 2px solid white;
  width:36%;
  height:80px;
}

button#view-location-drawer {
  left:0;
}

button#view-account-drawer {
  right:0;
}

button#add-location {
  border: 2px solid white;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rebeccapurple;
  font-size: 40px;
  outline: none;
  color: #F0F0F0;
  box-shadow: 0px 3px 3px #d3d3d3;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  z-index:3;
}

button#add-location:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#location-modal {
  position: fixed;
  width: 90%;
  min-height: 50%;
  /*border-radius: 15px;*/
  border: 2px solid rebeccapurple;
  left: 5%;
  top: 5%;
  transition: transform 0.3s cubic-bezier(0.550, 0.055, 0.675, 0.190);
  will-change: transform;
  /*display: flex;*/
  background-color: #fafafa;
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*border: 1px solid rebeccapurple;*/
  z-index:20;

}


.modal-closed {
  transform: translateY(-130%);
}



div#modal-location-desc {
  overflow-y: auto;
  margin: 12px auto;
  height: 33%;
  width: 90%;
  min-height: 33%;
  display: none;
}

.placeholder-text {
  color: rgba(33,33,33,0.4);
}

input#modal-title {
  width: 90%;
}

button#save-location {
  /*background: linear-gradient(45deg,)*/
  /*width: 30%;*/
  /*height: 10%;*/
  /*margin-bottom: 20px;*/
  /*border-radius: 7px;*/
  /*background-color: #4cae4c;
  border: 1px solid #4cae4c;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size:27px;
  color: white;
  height:50px;
  margin-top:auto;*/
  /*border: 1px solid rebeccapurple;*/
  margin-top: auto;
}

button#save-location:disabled {
  background-color: grey;
}


div#modal-header {
  height: 60px;
  background-color: rebeccapurple;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  box-shadow: 0 10px 10px rgba(0,0,0,0.22); 
  align-items: center;
  position: relative;
  z-index: 25;
}

.modal-header-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-header-title {
  margin: 0 39% 0 auto;
  font-size: 1.3em;
  font-weight: 800;
}

#modal-header-quit {
  margin: 0 10px;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16); */
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
}

.button-click-shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
}

#modal-header-quit:hover {
  /*box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);*/
}

#modal-header-save {
  display: none;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 400;
}

#modal-content {
  height:90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#modal-location-name-container {
  margin: 10px 20px;
  color: #212121;
  z-index: 20;
  position: relative;
  width: 91%;
  left: -3px;
}

#modal-location-name-input {
  color: #212121;

}

#modal-location-name:invalid {
  border: 1px solid red;
}

#delete-location-modal {
  position: fixed;
  z-index: 60;
  width: 70%;
  top: 30%;
  left: 15%;
  background-color: #fdfdfd;
  padding: 10px;
  border: 1px solid #e1e1e1;
  transform: translateY(-300%);
  transition: 0.3s transform, 0.2s opacity;
  opacity: 0;
}

#delete-location-modal.open-modal-delete {
  transform: translateY(0%);
  opacity: 1;
}

.modal-content-delete {
  padding: 15px;
  font-size: 16px;
  text-align: center;
}

.modal-options-delete {
  display: flex;
  justify-content: space-around;
}

div#icon-selector {
  height: 20%;
  width: 87%;
  border: 1px solid #d3d3d3;
  margin: 0px auto;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.23);
  background-color: #f8f6f6;
  transition: 0.2s height, 0.2s opacity;
}

#icon-selector .icon-button {
  /*background: url(https://unpkg.com/leaflet@1.0.1/dist/images/marker-icon-2x.png);*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 3px;
  height: 36px;
  width: 30px;
  border: 1px solid #d3d3d3;
  position: relative;
  min-width: 30px;
  background-color: #ececec;
  border-radius: 3px;
  box-sizing: content-box;
  padding: 0px;

}

.selected-icon::after {
  content: '';
  width: 23px;
  height: 12px;
  position: absolute;
  top: 8px;
  left: 4px;
  border: 5px solid rgba(80, 172, 107, 0.91);
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 100;
  transform: rotate(-45deg);
  z-index: 100;
  box-shadow: -1px 1px 0px 1px #548352;
}

#modal-location-tags {
  width: 90%;
  margin: 10px auto;
  padding: 8px;
}

#modal-location-tags-title {
  font-style: italic;
}

@media (max-width: 420px){
  #view-location-drawer.btn-side, #view-account-drawer.btn-side {
    width: 36%;
  }
}

@media (min-width: 421px) and (max-width: 620px){
  #view-location-drawer.btn-side, #view-account-drawer.btn-side {
    width: 40%;
  }  
}

@media (min-width: 621px) and (max-width: 920px){
  #view-location-drawer.btn-side, #view-account-drawer.btn-side {
    width: 43%;
  }
}

@media (min-width: 920px){
  #view-location-drawer.btn-side, #view-account-drawer.btn-side {
    width: 47%;
  }
}

